@model FoodyTekmerEntityLayer.Concrete.Product

@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Ürün Güncelleme Sayfası</h1>

<form method="post">
    <label> Ürün Id</label>
    <input type="text" class="form-control" asp-for="ProductId" readonly/>
    <br />
    <label> Ürün Adı</label>
    <input type="text" class="form-control" asp-for="Name" style="border:solid" />
    <br />
    <label> Ürün Resim</label>
    <input type="text" class="form-control" asp-for="ImageUrl" style="border:solid" />
    <br />
    <label> Ürün Eski Fiyat</label>
    <input type="text" class="form-control" asp-for="OldPrice" style="border:solid" />
    <br />
    <label> Ürün Yeni Fiyat</label>
    <input type="text" class="form-control" asp-for="NewPrice" style="border:solid" />
    <br />

    <label> Statüs</label>
    <input type="checkbox" class="form-control" asp-for="Status" />
    <br />

    <button type="submit" class="btn btn-info"> Ürün Güncelle </button>
</form>